@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#ver {
    font-size: 30px;
}

.div1 {
    background-color: white;
}

#img {
    height: 200px;
}

.div2 {
    margin: 0px;
    border: 0px;
    background-color: red;
    position: fixed;
    bottom: 0px;
    padding: 4px;
    border-radius: 10px;
}

.img {
    height: 40px;
}

.demo {
    border-style: solid;
    border-color: black;
    width: 100px;
    padding: 30px;
    margin: 5px;
    border-radius: 28px;
}

.drow {
    width: 2000px;
    height: 1000px;
}

.value {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.input{
    margin: 5px;
}
.input input{
    border-radius: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
#error{
    color: red;
    font-size: 50px;
    font-weight: bold
}